@using ClercSystem.ViewModels.Category;
@model EditCategoryViewModel;

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

<h2>Edit Category</h2>
@if (User.IsInRole("Admin"))
{
    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken() <!-- Adds anti-forgery token for CSRF protection -->
        <!-- Hidden field for Department ID -->
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </form>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
}